.animation
{
    width: 10vw;
    height:22vh;
    background-color:cyan;
    display:flex;
    margin:15vh 5vw;
    border: 3px solid rgb(50, 178, 172);
   
    
    transition: transform 2s ease-in-out,border-radius 5s, -webkit-box-reflex 2s, box-shadow 2s ease, background-color 3s ease-out, width 3s ;
    
}

p
{
    margin:0 auto;
    color:rgb(23, 8, 107);
    align-self: center;
    background-color: cyan;
}


button
{
    margin:100px 100px;
    width: 10vw;
    height:8vh;
    border: 5px dashed blueviolet;
    background-color: black;
    color:blue;
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
}

button:hover + div
{
    width: 50px;
    border-radius: 80px;
    box-shadow: 6px 5px 5px 1px rgb(40, 235, 225);
    background-color: aquamarine;
    
   
    
    transform: translateX(900px) rotate(560deg);
}

button:hover + div > p
{
    font-size: larger;
    transform: rotate(-560deg);
    transition: transform 2s ease-in-out, font-size 1s ease-in;
}
button:hover
{
        -webkit-box-reflect: below 10px linear-gradient( rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}



*
{

    background-color: rgb(17, 71, 98);
}
